<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar') %></div>
        <div class="col-sm-10">
          <h1><%= title %>: <%= author.name %></h1>

          <% if (authorBooks.length) { %>
          <p>
            <strong>
              Delete the following books before attempting to delete this author.
            </strong>
          </p>

          <div style="margin-left: 20px; margin-top: 20px">
            <h4>Books</h4>
            <dl>
              <% authorBooks.forEach(book => { %>
              <dt>
                <a href="<%= book.url %>"><%= book.title %></a>
              </dt>
              <dd><%= book.summary %></dd>
              <% }) %>
            </dl>
          </div>
          <% } else { %>
          <!--  -->
          <%- include('./partials/object_delete', {object: `author: ${author.name}`}) %>
          <!--  -->
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
