<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"><%- include('./partials/sidebar') %></div>
      <div class="col-sm-10">
        <h1><%= title %></h1>

        <form method="post">
          <div class="form-group">
            <label for="bookTitle" class="form-label">title</label>
            <input type="text" name="title" class="form-control <%= locals.errors?.title ? 'is-invalid' : '' %>"
              id="bookTitle" placeholder="name of book" value="<%= locals.book?.title || ''%>" />
            <%- include('./partials/field-errors', {fieldName: 'title'}) %>
          </div>

          <div class="form-group">
            <label for="bookAuthor" class="form-label">author</label>
            <select name="author" class="form-control <%= locals.errors?.author ? 'is-invalid' : '' %>" id="bookAuthor"
              value="<%= locals.book?.author?.name || ''%>">
              <option value="">select book author</option>

              <% authors.forEach(author => { %>
              <!--  -->
              <% if (locals.book?.author?.toString() === author._id.toString() ) { %>
              <option value="<%= author._id %>" selected><%= author.name %></option>
              <% } else { %>
              <option value="<%= author._id %>"><%= author.name %></option>
              <% } %>
              <!--  -->
              <% }) %>
            </select>
            <%- include('./partials/field-errors', {fieldName: 'author'}) %>
          </div>

          <div class="form-group">
            <label for="bookSummary" class="form-label">summary</label>
            <textarea name="summary" class="form-control <%= locals.errors?.summary ? 'is-invalid' : '' %>"
              id="bookSummary" placeholder="book summary">
<%= locals.book?.summary || ''%></textarea>
            <%- include('./partials/field-errors', {fieldName: 'summary'}) %>
          </div>

          <div class="form-group">
            <label for="bookIsbn" class="form-label">isbn</label>
            <input type="text" name="isbn" class="form-control <%= locals.errors?.isbn ? 'is-invalid' : '' %>"
              id="bookIsbn" placeholder="ISBN13" value="<%= locals.book?.isbn || ''%>" />
            <%- include('./partials/field-errors', {fieldName: 'isbn'}) %>
          </div>

          <div class="form-group">
            <div style="display: inline-block; padding-right: 10px">
              <% genres.forEach(genre => { %>
              <label for="genre_<%= genre._id %>" class="form-label"><%= genre.name %></label>
              <% if (genre.checked) { %>
              <input type="checkbox" name="genre" id="genre_<%= genre._id %>" value="<%= genre._id %>" checked />
              <% } else {%>
              <input type="checkbox" name="genre" id="genre_<%= genre._id %>" value="<%= genre._id %>" />
              <% } %> <% }) %>
            </div>
            <%- include('./partials/field-errors', {fieldName: 'genres'}) %>
          </div>

          <br />
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
