<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar') %></div>
        <div class="col-sm-10">
          <h1>Local Library Home</h1>
          <p>
            Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a
            tutorial example on the Mozilla Developer Network.
          </p>
          <h1>Dynamic content</h1>
          <% if (error) { %>
          <p>Error getting dynamic content.</p>
          <% } else {%>
          <p>The library has the following record counts:</p>

          <ul>
            <li><strong>Books:</strong> <%= data.booksCnt %></li>
            <li><strong>Copies:</strong> <%= data.bookInstancesCnt %></li>
            <li>
              <strong>Copies available:</strong> <%= data.availableBookInstancesCnt %>
            </li>
            <li><strong>Authors:</strong> <%= data.authorsCnt %></li>
            <li><strong>Genres:</strong> <%= data.genresCnt %></li>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
